.minhas-compras-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.compras-list {
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.compra-card {
  background: #faf8f6;
  border-radius: 6px;
  padding: 16px 10px;
  cursor: pointer;
  transition: transform 0.2s;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  min-height: 200px;

  &:active {
    transform: scale(0.98);
  }
}

.compra-top-section {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 16px;
  align-items: start;
  padding-bottom: 12px;
  height: 75%;
}

.compra-id-column {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 1px solid #dddddd;
}

.compra-descricao-column {
  display: flex;
  align-items: center;
  height: 100%;
  width: 110%;
}

.compra-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  height: 80%;
  justify-content: space-between;
}

.compra-divider-vertical {
  width: 1px;
  background: #dddddd;
  margin: 4px 0;
  align-self: stretch;
}

.compra-divider-horizontal {
  height: 1px;
  background: #dddddd;
  margin: 12px 0;
}

.compra-id {
  font-size: 12px;
  color: #7a7a7a;
  font-weight: 400;
  padding-right: 10px;
}

.compra-descricao {
  font-size: 14px;
  color: #333333;
  font-weight: 500;
  line-height: 1.4;
}

.compra-data {
  font-size: 12px;
  color: #aaaaaa;
  font-weight: 400;
}

.compra-preco {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}

.compra-footer {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding-bottom: 4px;
}

.ver-detalhes-link {
  color: var(--main-orange);
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}
