.termos-content {
  display: flex;
  flex-direction: column;
  
}

.termos-body {
  padding: 0 24px;
  height: 90vh;
}

.termos-title {
  font-size: 24px;
  font-weight: 700;
  margin: 16px 0 12px;
  color: var(--main-gray);
}

.termos-text {
  font-size: 14px;
  line-height: 1.6;
  color: #7d7d7d;
  max-height: 90%;
  overflow-y: scroll;
  padding-right: 8px;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #5c6cff #E7E6F0;

  &::-webkit-scrollbar-thumb {
    background: #5c6cff;
    border-radius: 999px;
  }

  p {
    text-align: justify;
  }
}

.termos-text p {
  margin-bottom: 12px;
}