<ion-content [fullscreen]="true">
  <div class="alterar-senha-content">
    <app-header
      title="Alterar Senha"
      (backClick)="goBack()"
    ></app-header>

    <div class="alterar-senha-body">
      <form [formGroup]="alterarSenhaForm" (ngSubmit)="onSubmit()">
        <div class="form">
          <app-custom-input
            formControlName="currentPassword"
            label="Senha Atual"
            placeholder="••••••••"
            [type]="showCurrentPassword ? 'text' : 'password'"
            [showIcon]="true"
            [iconName]="showCurrentPassword ? 'eye-outline' : 'eye-off-outline'"
            (iconClick)="togglePasswordVisibility('current')"
            [required]="true"
          ></app-custom-input>
          <app-input-error *ngIf="currentPasswordErrors" [errors]="currentPasswordErrors"></app-input-error>

          <app-custom-input
            formControlName="newPassword"
            label="Nova Senha"
            placeholder="••••••••"
            [type]="showNewPassword ? 'text' : 'password'"
            [showIcon]="true"
            [iconName]="showNewPassword ? 'eye-outline' : 'eye-off-outline'"
            (iconClick)="togglePasswordVisibility('new')"
            [required]="true"
          ></app-custom-input>
          <app-input-error *ngIf="newPasswordErrors" [errors]="newPasswordErrors"></app-input-error>

          <app-custom-input
            formControlName="confirmPassword"
            label="Confirmar Nova Senha"
            placeholder="••••••••"
            [type]="showConfirmPassword ? 'text' : 'password'"
            [showIcon]="true"
            [iconName]="showConfirmPassword ? 'eye-outline' : 'eye-off-outline'"
            (iconClick)="togglePasswordVisibility('confirm')"
            [required]="true"
          ></app-custom-input>
          <app-input-error *ngIf="confirmPasswordErrors" [errors]="confirmPasswordErrors"></app-input-error>
        </div>

        <div class="password-info">
          <p>Sua senha deve conter:</p>
          <ul>
            <li>No mínimo 8 caracteres;</li>
            <li>Pelo menos 1 letra e 1 número.</li>
          </ul>
        </div>

        <div class="alterar-senha-footer">
          <ion-button
            expand="block"
            shape="round"
            type="submit"
            [disabled]="alterarSenhaForm.invalid"
          >
            Salvar
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
