<ion-content [fullscreen]="true">
  <ion-tabs class="tabs-with-fab">
    <ion-tab-bar slot="bottom" class="custom-tab-bar">
      <ion-tab-button tab="closet">
        <ion-icon src="assets/svg/closet-menu-icon.svg" class="icon"></ion-icon>
        <p class="tab-label">Closet</p>
      </ion-tab-button>

      <ion-tab-button tab="comunidade">
        <ion-icon src="assets/svg/community-menu-icon.svg" class="icon"></ion-icon>
        <p class="tab-label">Comunidade</p>
      </ion-tab-button>

      <ion-tab-button tab="solicitacoes-estilista" *ngIf="isStylist">
        <ion-icon src="assets/svg/stylist-menu-icon.svg" class="icon"></ion-icon>
        <p class="tab-label">Solicitações</p>
      </ion-tab-button>
      
      <ion-tab-button tab="estilistas" *ngIf="!isStylist">
        <ion-icon src="assets/svg/stylist-menu-icon.svg" class="icon"></ion-icon>
        <p class="tab-label">Estilistas</p>
      </ion-tab-button>

      <ion-tab-button tab="menu">
        <ion-icon name="menu" class="icon"></ion-icon>
        <p class="tab-label">Menu</p>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-fab vertical="bottom" horizontal="center" class="center-fab">
    <ion-fab-button (click)="onPlusClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
