<ion-content [fullscreen]="true">
  <ion-tabs class="ion-tabs">
    <ion-tab-bar slot="bottom" class="ion-tab-bar">
      <ion-tab-button tab="tab1" class="ion-tab">
        <ion-icon name="home" class="icon active"></ion-icon>
        <ion-icon name="home-outline" class="icon inactive"></ion-icon>
        <p class="tab-label">Home</p>
      </ion-tab-button>
      
      <ion-tab-button tab="tab2" class="ion-tab">
        <ion-icon name="cash" class="icon active"></ion-icon>
        <ion-icon name="cash-outline" class="icon inactive"></ion-icon>
        <p class="tab-label">Aporte</p>
      </ion-tab-button>
      
      <ion-tab-button tab="tab3" class="ion-tab">
        <ion-icon name="podium" class="icon active"></ion-icon>
        <ion-icon name="podium-outline" class="icon inactive"></ion-icon>
        <p class="tab-label">Extrato</p>
      </ion-tab-button>
      
      <ion-tab-button tab="tab4" class="ion-tab">
        <ion-icon name="person" class="icon active"></ion-icon>
        <ion-icon name="person-outline" class="icon inactive"></ion-icon>
        <p class="tab-label">Perfil</p>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
