.form-field {
  margin-bottom: 16px;
  position: relative;
}

.form-label {
  font-size: 14px;
  color: #4a4a4a;
  margin-bottom: 4px;
  position: absolute;
  background-color: #FFFAFA;
  transform: translate(12px, -8px);
  padding: 0 10px;
  z-index: 1;
}

.form-control {
  width: 100%;
  border-radius: 999px;
  border: 1px solid #d2c8c8;
  padding: 0 16px;
  background: #FFFAFA;
  display: flex;
  align-items: center;
  height: 44px;

  ion-select {
    --padding-start: 6px;
    --padding-end: 0;
    width: 100%;
    font-size: 14px;
    color: #4a4a4a;
  }
}

